<div id="content" class="container">
  <div class="row">
    <div class="span6 offset3 results">
      <h3>You are</h3>
      <div class="type-icon"><img src="/assets/icon-kiln.png" alt="The Kiln"></div>
      <h3>The Kiln</h3>
      <p>The Kiln creates unique art and originality through passionate intensity and emotion.</p>
    </div>
  </div>
</div>