<div class="navbar">
  <div class="navbar-inner">
    <div class="container-fluid">

      <a class="brand" href="" style="padding-top: 0px;"><img src="/assets/tidepool-logo.png" width="100px" ></a>

      <div class="nav-no-collapse header-nav">
        <ul class="nav pull-right">
          <% if current_user && !current_user.guest %>
            <!-- start: User Dropdown -->
            <li class="dropdown">
              <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                <i class="halflings-icon white user"></i>
                <%= current_user.name %>
                <b class="caret"></b>
              </a>
              <ul class="dropdown-menu">
                <li><a href="#"><i class="halflings-icon white user"></i> Profile</a></li>
                <li><a href="<%= url_for logout_path %>">
                  <i class="halflings-icon white off"></i>
                  Logout
                  </a>
                </li>
              </ul>
            </li>
            <!-- end: User Dropdown -->
            <% else %>
              <%= link_to "Login", login_path, :class => 'login_logout' %>
            <% end %>
        </ul>
      </div>
    </div>
  </div>
</div>
<!-- start: Header -->