<!-- start: Main Menu -->
<div id="sidebar-left" class="span1">
  <div class="nav-collapse sidebar-nav">
    <ul class="nav nav-tabs nav-stacked main-menu">
      <li class="active"><a href="#home"><i class="fa-icon-home"></i><span class="hidden-tablet"> Home</span></a></li>
      <li><a href="#personality"><i class="fa-icon-eye-open"></i><span class="hidden-tablet"> Personality</span></a></li>
      <li><a href="#timeline"><i class="fa-icon-calendar"></i><span class="hidden-tablet"> Timeline</span></a></li>
    </ul>
  </div>
</div>
<!-- end: Main Menu -->