/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib//assets/stylesheets, vendor//assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require jquery.ui.slider
 *= require_self
 *= require_tree .
 */
@import "bootstrap";

body {
  font-family: open-sans, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #333333 !important;
  padding-top: 0;
}
h2 {
  font-weight: normal;
}
/* Layout
=================================== */

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
body {
  background: url("/assets/assmt-bg.png") repeat;
}
.align-right {
  text-align: right;
}
.btn-primary {
  padding-left: 30px;
  padding-right: 30px;
  font-weight: bold;
  color: #333333;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.3);
  background-color: #f89509;
  background-repeat: repeat-x;
  background-image: -khtml-gradient(linear, left top, left bottom, from(#fbb148), to(#f89509));
  /* Konqueror */
  background-image: -moz-linear-gradient(#fbb148, #f89509);
  /* FF 3.6+ */
  background-image: -ms-linear-gradient(#fbb148, #f89509);
  /* IE10 */
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fbb148), color-stop(100%, #f89509));
  /* Safari 4+, Chrome 2+ */
  background-image: -webkit-linear-gradient(#fbb148, #f89509);
  /* Safari 5.1+, Chrome 10+ */
  background-image: -o-linear-gradient(#fbb148, #f89509);
  /* Opera 11.10 */
  background-image: -ms-linear-gradient(top, #fbb148 0%, #f89509 100%);
  /* IE10+ */
  background-image: linear-gradient(#fbb148, #f89509);
  /* the standard */

}
.btn-primary:hover {
  background: #f89509;
  color: #333333;
}
table.table {
  margin: inherit 20px;
  border: 1px solid #e5e5e5;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
}
table.table thead {
  background-color: #e9e9e9;
  background-repeat: repeat-x;
  background-image: -khtml-gradient(linear, left top, left bottom, from(#f0f0f0), to(#e9e9e9));
  /* Konqueror */
  background-image: -moz-linear-gradient(#f0f0f0, #e9e9e9);
  /* FF 3.6+ */
  background-image: -ms-linear-gradient(#f0f0f0, #e9e9e9);
  /* IE10 */
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f0f0f0), color-stop(100%, #e9e9e9));
  /* Safari 4+, Chrome 2+ */
  background-image: -webkit-linear-gradient(#f0f0f0, #e9e9e9);
  /* Safari 5.1+, Chrome 10+ */
  background-image: -o-linear-gradient(#f0f0f0, #e9e9e9);
  /* Opera 11.10 */
  background-image: -ms-linear-gradient(top, #f0f0f0 0%, #e9e9e9 100%);
  /* IE10+ */
  background-image: linear-gradient(#f0f0f0, #e9e9e9);
  /* the standard */

}
table.table thead th {
  font-size: 12px;
  font-weight: normal;
  text-transform: uppercase;
  text-align: center;
}
table.table td {
  padding: 15px;
  border: 1px dotted #cccccc;
}
/* Navigation */

/* Header */

#header {
  height: 68px;
  background: url("/assets/header-bg.png") repeat-x;
}
#header .row {
  position: relative;
}
#header h1 {
  width: 100%;
  height: 115px;
  background: url("/assets/header-logo.png") no-repeat top center;
  text-indent: -9999px;
  margin: 0;
}

#header .progressbar {
  position: absolute;
  top: 30px;
  left: 20px;
  width: 200px;
  height: 12px;
  background: white;
  padding: 1px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
#header .progressbar .section {
  width: 8.333333333%;
  height: 10px;
  float: left;
  background: #cccccc;
  border-right: 1px solid white;
  -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.2);
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.2);
}
#header .progressbar .section.first {
  -webkit-border-radius: 2px 0 0 2px;
  -moz-border-radius: 2px 0 0 2px;
  border-radius: 2px 0 0 2px;
}
#header .progressbar .section.last {
  -webkit-border-radius: 0 2px 2px 0;
  -moz-border-radius: 0 2px 2px 0;
  border-radius: 0 2px 2px 0;
  border-right: none;
}
#header .progressbar .section.complete {
  background-color: #d43034;
  background-repeat: repeat-x;
  background-image: -khtml-gradient(linear, left top, left bottom, from(#e54045), to(#d43034));
  /* Konqueror */
  background-image: -moz-linear-gradient(#e54045, #d43034);
  /* FF 3.6+ */
  background-image: -ms-linear-gradient(#e54045, #d43034);
  /* IE10 */
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #e54045), color-stop(100%, #d43034));
  /* Safari 4+, Chrome 2+ */
  background-image: -webkit-linear-gradient(#e54045, #d43034);
  /* Safari 5.1+, Chrome 10+ */
  background-image: -o-linear-gradient(#e54045, #d43034);
  /* Opera 11.10 */
  background-image: -ms-linear-gradient(top, #e54045 0%, #d43034 100%);
  /* IE10+ */
  background-image: linear-gradient(#e54045, #d43034);
  /* the standard */

}


#header .user {
  position: absolute;
  top: 25px;
  right: 20px;
}
/* Content */

.infobox {
  margin-top: 80px;
  padding: 30px;
  background: rgba(0, 0, 0, 0.75);
  font-size: 18px;
  color: white;
  line-height: 27px;
  text-align: center;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  border-radius: 12px;
}

#content {
  height: 500px;
}
#content #reaction {
  position: relative;
}
#content #reaction .circle {
  width: 360px;
  height: 360px;
  background: #333333;
  border: 2px solid white;
  margin-left: -180px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  -webkit-box-shadow: 0 0 60px rgba(255, 255, 255, 0.1);
  -moz-box-shadow: 0 0 60px rgba(255, 255, 255, 0.1);
  box-shadow: 0 0 60px rgba(255, 255, 255, 0.1);
  position: absolute;
  top: 80px;
  left: 50%;
}
#content #reaction .infobox {
  width: 260px;
  margin-left: -130px;
  color: white;
  line-height: 24px;
  text-align: center;
  position: absolute;
  top: 90px;
  left: 50%;
}
#content #reaction .infobox p {
  font-size: 18px;
}
#content #characteristics {
  position: relative;
  color: white;
}

#content #characteristics .slider {
  width:50px;
  margin-top: 5px;
  margin-left: 50px;
}

#content #characteristics .slider .ui-slider-range { background: #ef2929; }
#content #characteristics .slider .ui-slider-handle { border-color: #ef2929; }


#content #characteristics .circle {
  width: 160px;
  height: 160px;
  background: #333333;
  border: 2px solid white;
  position: absolute;
  text-align: center;
  font-size:12px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  -webkit-box-shadow: 0 0 40px rgba(255, 255, 255, 0.15);
  -moz-box-shadow: 0 0 40px rgba(255, 255, 255, 0.15);
  box-shadow: 0 0 40px rgba(255, 255, 255, 0.15);
}
#content #characteristics .circle .text {
  margin-top: 45px;
}

#content #characteristics .circle.c0 {
  top: 50px;
  left: 20px;
}
#content #characteristics .circle.c1 {
  top: 50px;
  left: 250px;
}
#content #characteristics .circle.c2 {
  top: 185px;
  left: 135px;
}
#content #characteristics .circle.c3 {
  top: 320px;
  left: 20px;
}
#content #characteristics .circle.c4 {
  top: 320px;
  left: 250px;
}
#content #characteristics .circle p {
  margin-top: 40px;
  padding: 0 15px;
}
#content #characteristics .circle .controls {
  width: 54px;
  margin-left: -27px;
  position: absolute;
  top: 90px;
  left: 50%;
}
#content #characteristics .circle .plus,
#content #characteristics .circle .minus {
  display: block;
  width: 22px;
  height: 22px;
  float: left;
  background: #dddddd;
  color: #333333;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
}
#content #characteristics .circle .plus:hover,
#content #characteristics .circle .minus:hover {
  background: #eeeeee;
  text-decoration: none;
}
#content #characteristics .circle .plus {
  margin-right: 10px;
}
#content #characteristics .self {
  width: 390px;
  height: 390px;
  border: 2px solid white;
  background: rgba(255, 255, 255, 0.4) url("/assets/self-bg.png") no-repeat center center;
  margin: 70px 0 0 80px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
}
#content #characteristics .self .infobox {
  width: 390px;
  height: 390px;
  margin-top: -2px;
  margin-left: -2px;
  font-size: 16px;
}
#content #characteristics .infobox {
  width: 420px;
  height: 320px;
  margin-top: 90px;
  padding: 30px;
  background: rgba(0, 0, 0, 0.6);
  text-align: center;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  border-radius: 12px;
}
#content #characteristics .infobox p {
  font-size: 18px;
  line-height: 27px;
}

#content #images {
  position: relative;
}
#content #images .frames {
  overflow: auto;
}
#content #images .frames .frame {
  float: left;
  margin-top: 60px;
  margin-right: 20px;
  background: #cccccc url("/assets/frame.jpg") no-repeat;
  background-size: cover;
  font-size: 28px;
  color: white;
  text-align: center;
}
#content #images .frames .f0 {
  width: 190px;
  height: 190px;
  line-height: 190px;
  margin-top: 60px;
}
#content #images .frames .f1 {
  width: 180px;
  height: 180px;
  line-height: 180px;
  margin-top: 65px;
}
#content #images .frames .f2 {
  width: 170px;
  height: 170px;
  line-height: 170px;
  margin-top: 70px;
}
#content #images .frames .f3 {
  width: 160px;
  height: 160px;
  line-height: 160px;
  margin-top: 75px;
}
#content #images .frames .f4 {
  width: 150px;
  height: 150px;
  line-height: 150px;
  margin-top: 80px;
}
#content #images .photos {
  clear: left;
  margin-top: 40px;
  height: 200px;
  border: solid red 2px;
}
#content #images .photos .photo {
  float: left;
  background: white;
  padding: 5px;
  padding-bottom: 25px;
  margin: 0 25px;
  border: solid red 2px;
  -webkit-box-shadow: 1px 3px 6px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 1px 3px 6px rgba(0, 0, 0, 0.2);
  box-shadow: 1px 3px 6px rgba(0, 0, 0, 0.2);
  cursor:move;
}
#content #images .frames .photos {
  clear: left;
  margin-top: 40px;
  height: 200px;
  border: solid red 2px;
}
#content #images .frames .photos .photo {
  float: left;
  background: white;
  padding: 5px;
  padding-bottom: 25px;
  margin: 0 25px;
  border: solid red 2px;
  -webkit-box-shadow: 1px 3px 6px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 1px 3px 6px rgba(0, 0, 0, 0.2);
  box-shadow: 1px 3px 6px rgba(0, 0, 0, 0.2);
  cursor:move;
}

#content #images .infobox {
  width: 320px;
  margin-left: -160px;
  color: white;
  line-height: 27px;
  text-align: center;
  position: absolute;
  top: 180px;
  left: 50%;
  padding: 30px;
  background: rgba(0, 0, 0, 0.75);
  text-align: center;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  border-radius: 12px;
}

#content #images .infobox p {
  font-size: 18px;
}

.login {
  margin-top: 50px;
  color: white;
  text-align: center;
}
.login form input[type="text"],
.login form input[type="email"],
.login form input[type="password"] {
  height: 35px;
  padding: 10px;
  margin-bottom: 20px;
}
.login form p.gender {
  margin-bottom: 20px;
}
.login form input[type="radio"] {
  margin-left: 10px;
  margin-top: 0;
}
.login form label {
  display: inline;
  vertical-align: middle;
  margin-right: 10px;
}
.login ul.social-login {
  list-style: none;
  text-align: center;
  padding-left: 160px;
  margin: 20px 0;
}
.login ul.social-login li {
  float: left;
  margin-right: 20px;
}
.login ul.social-login li a {
  display: block;
  width: 32px;
  height: 32px;
  text-indent: -9999px;
}
.login ul.social-login li a.facebook {
  background: url("/assets/icon-facebook.png") no-repeat;
}
.login ul.social-login li a.google {
  background: url("/assets/icon-google.png") no-repeat;
}
.login ul.social-login li a.twitter {
  background: url("/assets/icon-twitter.png") no-repeat;
}
.login ul.social-login li:last-child {
  margin-right: 0;
}
.login a.link {
  color: white;
  text-decoration: underline;
}

/* Results */

.results {
  margin-top: 50px;
  background: #fafafa;
  color: #333333;
  text-align: center;
  z-index: 999;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  -webkit-box-shadow: 0 2px 12px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 0 2px 12px rgba(0, 0, 0, 0.4);
  box-shadow: 0 2px 12px rgba(0, 0, 0, 0.4);
}
.results .row {
  margin-left: 0;
}
.results .results-head {
  background: #666666 url("/assets/modal-header-bg.png") repeat;
  color: white;
  -webkit-border-radius: 6px 6px 0 0;
  -moz-border-radius: 6px 6px 0 0;
  border-radius: 6px 6px 0 0;
}
.results .results-head .meta {
  text-align: left;
  padding: 20px;
}
.results .results-head .meta h3,
.results .results-head .meta p {
  margin: 0;
}
.results .results-head .meta h3 {
  line-height: 28px;
  text-shadow: 0 2px 1px rgba(0, 0, 0, 0.25);
}
.results .results-head .score {
  padding: 20px;
}
.results .results-head .score .number {
  font-size: 42px;
  font-weight: lighter;
}
.results .results-head .span5 {
  margin-left: 0;
}
.results .results-body {
  margin: -20px;
}
.results .results-body .graph ul {
  margin-top: 30px;
  list-style: none;
}
.results .results-body .graph ul li {
  height: 42px;
  padding-bottom: 10px;
}
.results .results-body .graph ul li span.characteristic {
  display: block;
  float: left;
  clear: left;
  margin-right: 10px;
  width: 80px;
  line-height: 32px;
  text-align: right;
}
.results .results-body .graph ul li span.icon {
  display: block;
  float: left;
  width: 32px;
}
.results .results-body .graph ul li span.bar {
  display: block;
  float: left;
  height: 22px;
  margin-left: 10px;
  margin-top: 5px;
  background: #cccccc;
}
.results .results-body .graph ul li span.bar.bar01 {
  background: #66ccff;
}
.results .results-body .graph ul li span.bar.bar02 {
  background: #9999cc;
}
.results .results-body .graph ul li span.bar.bar03 {
  background: #ff9966;
}
.results .results-body .graph ul li span.bar.bar04 {
  background: #ffcc99;
}
.results .results-body .graph ul li span.bar.bar05 {
  background: #66cccc;
}
.results .results-body .graph ul li span.bar.bar06 {
  background: #ff99cc;
}
.results .results-body .graph ul li span.bar.bar07 {
  background: #66cc66;
}
.results .results-body .graph ul li span.bar.pc10 {
  width: 17px;
}
.results .results-body .graph ul li span.bar.pc20 {
  width: 34px;
}
.results .results-body .graph ul li span.bar.pc30 {
  width: 51px;
}
.results .results-body .graph ul li span.bar.pc40 {
  width: 68px;
}
.results .results-body .graph ul li span.bar.pc50 {
  width: 85px;
}
.results .results-body .graph ul li span.bar.pc60 {
  width: 102px;
}
.results .results-body .graph ul li span.bar.pc70 {
  width: 119px;
}
.results .results-body .graph ul li span.bar.pc80 {
  width: 136px;
}
.results .results-body .graph ul li span.bar.pc90 {
  width: 153px;
}
.results .results-body .graph ul li span.bar.pc100 {
  width: 170px;
}
.results .results-body .details {
  padding-right: 20px;
}
.results .results-footer {
  margin-left: -20px;
  margin-top: 10px;
}
.results .results-footer p {
  padding: 20px;
  font-size: 12px;
  margin-bottom: 0;
}
.results .results-footer p.span5 {
  text-align: left;
}
.results .results-footer p.span3 {
  text-align: right;
}

/* Modal Windows */

/* Footer */
#footer2 {
  height: 70px !important;
  background: rgba(0, 0, 0, 0.5);
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000)";
  height: 48px;
  padding: 10px 0;
  color: white;
}
#footer2 ul {
  list-style: none;
  height: 24px;
  margin-left: 0;
}
#footer2 ul li {
  float: left;
}
#footer2 ul li a {
  color: #a1b7b9;
  padding-right: 20px;
}
#footer2 ul li a:hover {
  color: #cccccc;
  text-decoration: none;
}
#footer2 p {
  font-size: 12px;
  color: #999999;
}
#footer2 .truste {
  text-align: right;
  padding-left: 35px;
}
#footer2 ul.social {
  list-style: none;
  float: right;
}
#footer2 ul.social li {
  float: left;
  margin-left: 10px;
}
#footer2 ul.social li a {
  display: block;
  width: 32px;
  height: 32px;
  text-indent: -9999px;
  font-size: 0;
}
#footer2 ul.social li a.facebook {
  background: url("/assets/icon-facebook.png") no-repeat;
}
#footer2 ul.social li a.twitter {
  background: url("/assets/icon-twitter.png") no-repeat;
}
#footer2 ul.social li a.google {
  background: url("/assets/icon-google.png") no-repeat;
}