<!-- Footer
	=================== -->

	<div id="footer2">
		<div class="container">
			<div class="span8">
				<ul class="footernav">
					<li><a href="#">About TidePool</a></li>
					<li><a href="#">Team</a></li>
					<li><a href="#">Jobs</a></li>
					<li><a href="#">Help</a></li>
					<li><a href="#">Contact Us</a></li>
				</ul>

				<p class="copyright">&copy; 2012 Tidepool Inc. All rights reserved.</p>
			</div>
			<div class="span3 truste">
				<ul class="social">
					<li><a href="#" class="twitter">Twitter</a></li>
					<li><a href="#" class="facebook">Facebook</a></li>
					<li><a href="#" class="google">Google</a></li>
				</ul>
			</div>
		</div>
	</div><!-- end #footer2 -->
