	<!-- Footer
	=================== -->

	<div id="footer1">
		<div class="container">
			<p>Stay in touch</p>
			<ul class="social">
				<li><a href="#" class="wordpress">Get the latest on our blog</a></li>
				<li><a href="#" class="twitter">Follow us</a></li>
				<li><a href="#" class="facebook">Like us</a></li>
			</ul>
		</div>
	</div><!-- end #footer1 -->

	<div id="footer2">
		<div class="container">
			<div class="span9">
				<ul class="footernav">
					<li><a href="#">About TidePool</a></li>
					<li><a href="#">Team</a></li>
					<li><a href="#">Jobs</a></li>
					<li><a href="#">Help</a></li>
					<li><a href="#">Contact Us</a></li>
				</ul>

				<p class="copyright">&copy; 2012 Tidepool Inc. All rights reserved.</p>
			</div>
			<div class="span2 truste">
				<a href="#"><img src="/assets/truste.png" alt="TRUSTe"></a>
			</div>
		</div>
	</div><!-- end #footer2 -->