	<!-- Header
	=================== -->

	<div id="header">
		<div class="container">
			<div class="row">
				<div id="progressbarcontainer">
				</div>
        <h1>TidePool</h1>
				<div class="user">
					<% if current_user && !current_user.anonymous %>
  					<p>Hello, 
    					<%= current_user.name %>, 
    					<%= link_to "Log out", logout_path %>
  					</p>
  				<% else %>
  						<%= link_to "Log in", login_path %>
  				<% end %>
				</div>
        <%= render 'layouts/messages' %>

			</div>
		</div>
	</div>
